# rscmgr rc file

on property:sys.readahead.resource=1
    readahead /system/bin/surfaceflinger --fully
    readahead /system/lib64/libui.so --fully
    readahead /system/lib64/android.hardware.graphics.composer@2.2.so --fully
    readahead /system/priv-app/SecMyFiles2020/SecMyFiles2020.apk --fully
    readahead /vendor/lib64/libexynoscamera3.so --fully
    readahead /data/app/Notes40_Removable/Notes40_Removable.apk --fully
    readahead /vendor/lib64/libexynosdisplay.so --fully
    readahead /vendor/lib64/android.hardware.graphics.composer@2.1.so --fully
    readahead /system/fonts/OneUISans-VF.ttf --fully
    readahead /system/fonts/OneUISansKR-VF.ttf --fully
    readahead /apex/com.android.vndk.v34/lib64/libhidlbase.so --fully
    readahead /system/lib64/libEGL.so --fully
    readahead /system/lib64/android.hardware.configstore@1.0.so --fully
    readahead /system/lib64/libnativeloader_lazy.so --fully
    readahead /system/lib64/libunwindstack.so --fully
    readahead /system/lib64/libutilscallstack.so --fully
    readahead /system/lib64/android.hardware.graphics.common@1.1.so --fully
    readahead /system/lib64/android.hardware.configstore@1.1.so --fully
    readahead /system/lib64/android.hardware.graphics.common@1.2.so --fully
    readahead /system/lib64/liblzma.so --fully
    readahead /system/lib64/android.hardware.graphics.common-V4-ndk.so --fully
    readahead /system/lib64/android.hardware.graphics.common@1.0.so --fully
    readahead /system/lib64/android.hardware.common-V2-ndk.so --fully
    readahead /system/lib64/android.hardware.graphics.allocator@4.0.so --fully
    readahead /system/lib64/libgraphicsenv.so --fully
    readahead /system/lib64/libSurfaceFlingerProp.so --fully
    readahead /system/lib64/libnativewindow.so --fully
    readahead /system/lib64/libgralloctypes.so --fully
    readahead /system/lib64/android.hardware.graphics.mapper@2.1.so --fully
    readahead /system/lib64/android.hardware.graphics.allocator@2.0.so --fully
    readahead /system/lib64/android.hardware.graphics.allocator@3.0.so --fully
    readahead /system/lib64/android.hardware.graphics.mapper@2.0.so --fully
    readahead /system/lib64/android.hardware.graphics.allocator-V2-ndk.so --fully
    readahead /system/lib64/android.hardware.graphics.mapper@3.0.so --fully
    readahead /system/lib64/libsync.so --fully
    readahead /system/lib64/android.hardware.graphics.composer@2.1.so --fully
    readahead /system/lib64/android.hardware.graphics.mapper@4.0.so --fully
    readahead /apex/com.android.vndk.v34/lib64/libcutils.so --fully
    readahead /vendor/lib64/android.hardware.graphics.composer@2.2.so --fully
    readahead /system/lib64/vendor.samsung.hardware.hyper-V2-cpp.so --fully
    readahead /system/framework/oat/arm64/ssrm.odex --fully
    readahead /system/lib64/libhidlbase.so --fully
    readahead /system/lib64/libpng.so --fully

on property:sys.readahead.resource=2
    readahead /system/app/HoneyBoard/HoneyBoard.apk --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.odex --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.vdex --fully
    readahead /data/app/VoiceNote_5.0/VoiceNote_5.0.apk --fully
    readahead /system/priv-app/SamsungDialer/SamsungDialer.apk --fully
    setprop sys.readahead.resource 0
